<div class="row">
    <div class="col-lg-6 offset-lg-3"> 
       <h2 class="text-center fontTitle">Ingrese presupuesto</h2>
       <div class="card">
           <div class="card-body">
               <div class="text-center mb-3" *ngIf="cantidadIncorrecta">
                <span class="badge bg-danger textError">El presupuesto debe ser mayor a cero</span>
               </div>
              
               <input type="number" [(ngModel)]="cantidad" class="form-control form-control-lg" placeholder="Ingrese su presupuesto...">
               <button class="btn btn-secondary btn-lg btn-block mt-2" (click)="agregar()">Aceptar</button>
           </div>
       </div>
    </div>
</div>